@import "./../../public/scss/colors";

.header {
  height: 80px;
  //box-shadow: 0px 0px 10px 2px rgba(212,210,210,0.75);
  //-webkit-box-shadow: 0px 0px 10px 2px rgba(212,210,210,0.75);
  //-moz-box-shadow: 0px 0px 10px 2px rgba(212,210,210,0.75);
  .logo {
    align-items: center;
    display: flex;
    img {
      height: 80px;
      width: 170px;
    }
  }
  .search {
    flex: 0.6;
    input {
      border: 1px solid $main-brand-color;
      height: 40px;
      width: 100%;
      border-radius: 8px;
      padding: 1rem;
      outline: none;
      color: $secondary-brand-color;
      transition: 0.2s ease-in-out;
    }
  }
  .navs {
    font-weight: 500;
    color: $secondary-brand-color;
    .nav {
      cursor: pointer;
      transition: 0.2s ease-in-out;
    }
    .nav:hover {
      color: $main-brand-color;
    }

    .contactButton {
      border: 2px solid $main-brand-color;
      border-radius: 8px;
      color: $secondary-brand-color;
      transition: 0.2s ease-in-out;
    }
    .contactButton:hover {
      background-color: $main-brand-color;
      color: #fff;
    }
  }
}

.header::after {

}
