@import "./../../public/scss/colors";

.filtersContainer {
  .filter {
    color: var(--main-brand-color);
    font-weight: 600;
    cursor: pointer;
    width: fit-content;
  }
  .filters {
    //border: 1px solid var(--main-brand-color);
    transition: opacity 0.5s ease-in, transform 0.5s ease-in;
    display: flex;
    align-items: flex-end;
    padding: 20px 0 20px 0;
    border-radius: 6px;
    gap: 20px;

    .price {
      //border: 1px solid red;
      display: flex;
      gap: 10px;
      align-items: center;

      input {
        border: 1px solid var(--main-brand-color);
        width: 70px;
        height: 40px;
        border-radius: 6px;
        outline: none;
        padding: 5px;
      }
    }
    .language {
      //border: 1px solid black;
      height: 40px;
      display: flex;
      align-items: center;
      gap: 10px;
    }
    .sorting {
      //border: 1px solid black;
      height: 40px;
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
}
