@import "./../../public/scss/colors";

.application {
  width: 100%;
  background-color: var(--onbackground-variant1) !important;
  padding: 40px 160px;
  display: flex;
  flex-direction: row;
  gap: 40px;

  & .details {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    h1 {
      font-size: 32px;
      font-weight: 700;
    }
    p {
      font-size: 16px;
      font-weight: 400;
      opacity: 0.8;
    }

    .review {
      display: flex;
      flex-direction: row;
      align-items: center;
      & p {
        margin-right: 12px;
      }
      .star {
        font-size: 20px;
        color: #ddd;
      }

      .checked {
        color: #ffcc00;
        margin-right: 5px;
      }
    }

    & .button {
      background-color: var(--main-brand-color);
      padding: 10px 20px;
      width: fit-content;
      border-radius: 10px;
    }
  }
}
